body {
    margin: 0;
    padding: 0;
    background-color: #86b881;
    font-family: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
}



/*Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 90px;
}


/*Font*/

h1 {
    font-weight: bold;
    opacity: 1;
    animation: fadeIn 5s ease;
    text-align: center;
    margin-top: .5rem;
}

h2, p {
    color: #3a3a3a;
    text-align: center;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.hidden {
    display: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.788);
}


button {
    margin: 0.4em;
    color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    text-transform: uppercase;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.788);
}



/*mobileView*/

.wrapper {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: "header"
                         "showSection"
                         "cameraSection"
                         "pictureSection"
                         "gallerySection";
}


header {
    grid-area: header;
    max-width: 100vw;
    height: 10em;
    background-image: url(/img/photographer.jpg);
    background-size: cover;
}


.gallery-images {
    max-height: 50%;
    max-width: 70%;
    display: block;
}

.picture-taken {
    max-height: 50%;
    max-width: 70%;
}



/*tabletview*/
@media only screen and (min-width: 768px) and (max-width: 1028px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: "header header header header"
                             "showSection showSection showSection showSection"
                             "cameraSection cameraSection cameraSection cameraSection"
                             "pictureSection pictureSection pictureSection pictureSection"
                             "gallerySection gallerySection gallerySection gallerySection";
    }
    
    header {
        max-width: 100vw;
        height: 20em;
    }

    h1 {
        font-size: 70px;
    }
}



/*desktopview*/
@media only screen and (min-width: 1028px) {
    .wrapper {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: "header header header header header header"
                             "showSection showSection showSection showSection showSection showSection"
                             "cameraSection cameraSection cameraSection cameraSection cameraSection cameraSection"
                             "pictureSection pictureSection pictureSection pictureSection pictureSection pictureSection"
                             "gallerySection gallerySection gallerySection gallerySection gallerySection gallerySection";
    }

    header {
        max-width: 1000vw;
        height: 40em;
    }

    h1 {
        font-size: 100px;
    }
}