body {
    background-color: #86b881;
}

.gallery-images {
    max-height: 30%;
    max-width: 50%;
    display: block;
}

button {
    padding: 0.8em 1.2em;
    margin: 0.4em;
}

.picture-taken {
    max-height: 30%;
    max-width: 50%;
}

.hidden {
    display: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}